.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.loaded {
    opacity: 1;
  }
  .map {
    align-self: flex-start;
    box-shadow: darkgrey 0px 0px 0px 1px inset;
    padding: 1px;
  }
  .controls-wrapper {
    align-self: start;
    width: 35%;
    .drop-down {
      width: 100%;
      .controls {
        position: relative;
        width: 100%;
        .list-wrapper {
          width: 150px;
          height: auto;
          max-height: 350px;
          overflow: auto;
          width: 95%;
          position: absolute;
          z-index: 1000;
          background: white;
          box-shadow: 1px 1px 2px 2px #a29e9e;
          .item {
            transition: background-color 0.3s ease-in-out;
            box-shadow: 0px 0px 0px 1px #a29e9e;
            cursor: pointer;
            &:hover {
              background-color: rgba(128, 128, 128, 0.25);
            };
          }
        }
        input {
          width: 95%;
        }
      }
    }
    .route-list {
      margin-top: 25px;
      .drop-zone {
        &.drag-active {
          height: 10px;
        }
      }
      .point-item {
        margin: 5px;
        transition: all 0.5s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        width: 95%;
        cursor: pointer;
        &.drag-active {
          box-shadow: 0 0 3px 0px #a5a5a5;
        }
        &.over {
          box-shadow: 0 0 3px 2px #a5a5a5;
        }
        .remover {
          position: absolute;
          right: 15px;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &::before {
            position: absolute;
            content: ' ';
            display: block;
            width: 1px;
            height: 50%;
            background: red;
            transform: rotate(45deg);
          }

          &::after {
            position: absolute;
            content: ' ';
            display: block;
            width: 1px;
            height: 50%;
            background: red;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .map-wrapper {
    align-self: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .app-wrapper {
    .controls-wrapper {
      .route-list {
          .point-item {
            span {
              max-width: 75%;
            }
            .remover {
              right: 5px;
            }
          }
      }
    }
  }
}